body{
    background-color:#FFE2E2
    
}

h1{
    color:rgb(255, 174, 174);
    background-color: rgb(255, 222, 222);
    font-size:1.5cm;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    

}

.parrafo_color{
    color:rgb(111, 14, 207)

    font-family "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

h3{
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 40px;
    background-color: whitesmoke;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    color:#b54f7f;
    
}

h4{
  text-align: center;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 40px;
    background-color: whitesmoke;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#b54f7f
    
}

.concert-one-regular {
  text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    flex-wrap: wrap;
   

    
  }

.spicy-rice-regular {
  text-align: center;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    
    
  }
  
.card{
  
    background-color: rgb(244, 232, 255);
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    flex-wrap: wrap;
    min-height: 20px;
 }

  

img{
    max-width: 100%;
    flex-wrap: wrap;
 }
  
.contenedor_limite{
  text-align: center;
    max-width: 800px;
    background-color: blue;
    margin: 0 auto;
    flex-wrap: wrap;
  }

 header{
    text-align: center;
    background-color: rgb(255, 203, 203);
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
    flex-wrap: wrap;
  }

footer{
    text-align: center;
    background-color:  whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
    flex-wrap: wrap;
  }

nav{
    position: absolute;
    left: 20px;
    top: 166px;
  }
  
nav a {
    color: floralwhite;
    text-decoration: none;
    color: black;
  }

  nav a:hover{
    color: white;
    text-decoration: underline;
  }

  div1{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;  
    flex-wrap: wrap;
}

nav li{
    display: inline;
    list-style: none;
    flex-wrap: wrap;
  }

.Más_vendidos{
    background-color: rgb(255, 199, 199);
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 40px;
    list-style: none;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    
}

.contenedor_padre{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 93.5%;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.parent{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:850px) {
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


}

/*

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.15fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 2px;
  flex-wrap: wrap;

}

parent:hover{
  transform:scale(2);

}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
    flex-wrap: wrap;
  }
  .div2 { grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
    flex-wrap: wrap;
  }
  .div3 { grid-area: 1 / 3 / 2 / 4; 
    text-align: center;
    flex-wrap: wrap;
  }
  .div4 { grid-area: 2 / 1 / 3 / 2; 
    text-align: center;
    flex-wrap: wrap;
  }

  .div4:hover{
    transform:scale(1.2);
    
}
  .div5 { grid-area: 2 / 2 / 3 / 3; 
    text-align: center;
    flex-wrap: wrap; 
  }

  .div5:hover{
    transform:scale(1.2);
    
}
  .div6 { grid-area: 2 / 3 / 3 / 4; 
    text-align: center;
    flex-wrap: wrap; 
  }

  .div6:hover{
    transform:scale(1.2);
    
}
    */


@media screen and (max-width:600px) {
    h1{
      font-size: 35px;
  }
    nav{
    position: absolute;
    left: 20px;
    top: 120px;
  }

}

.Más_vendidosFV{
  color:#b54f7f;
  background-color: rgb(255, 199, 199);
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 40px;
  list-style: none;
  text-align: left;
  position: relative;
  flex-wrap: wrap;
  
}

